.external-style{
    background-color: red;
    height: 20vh;
    color: rgb(179, 60, 60);

}
.lol {
    background-color: red;
    color: white;
}
.red {
    background-color: aquamarine;
    color: white;
}
.sec1{
    background-color: red;
}